<div>
  <p>{{name}} 様</p>

  <p>平素より弊社サービスをご利用いただき、誠にありがとうございます。</p>

  <p
  >パスワードのリセットを希望されましたので、以下のリンクより新しいパスワードを設定してください。</p>

  <p>パスワードリセットリンク: <a href='{{url}}/reset-password?token={{token}}'>link</a></p>

  <p>※このリンクは発行から24時間以内に有効です。それ以降は無効となりますのでご注意ください。</p>

  <p
  >万が一、パスワードリセットのリクエストに覚えがない場合は、本メールを無視していただいて構いません。また、不審な点がございましたら、お手数ですが弊社サポートまでご連絡ください。</p>

  <p>今後とも、どうぞよろしくお願い申し上げます。</p>
  <p>==============================</p>
  <p>株式会社フリーク</p>
  <p>〒899-5213 鹿児島県始良市加治木町旭町74番地1</p>
  <p>TEL：</p>
  <p>MAIL：</p>
  <p>==============================</p>
</div>